<!DOCTYPE html>
<html>
<head>
    <title>Bike Share LA Status</title>
    <style>
        table {
            width: 90%;
            margin: 20px auto;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #aaa;
            padding: 8px;
            text-align: left;
        }
        th {
            background: #222;
            color: white;
        }
        tr:nth-child(even) {
            background: #f8f8f8;
        }
    </style>
</head>
<body>
    <h1>Bike Share LA Station Status</h1>
    <table>
        <thead>
            <tr>
                <th>Station ID</th>
                <th>Name</th>
                <th>Bikes Available</th>
                <th>Docks Available</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for station in stations %}
            <tr>
                <td>{{ station["properties"]["id"] }}</td>
                <td>{{ station["properties"]["name"] }}</td>
                <td id="totalDocks">{{ station["properties"]["totalDocks"] }}</td>
                <td id="docksAvailable">{{ station["properties"]["docksAvailable"] }}</td>
                <td>{{ station["properties"]["kioskStatus"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>