<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MW Transit + Bike App | Bikes</title>

  <!-- Styles -->
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/maplibre-gl/maplibre-gl.css">

  <!-- MapLibre JS -->
  <script src="/static/maplibre-gl/maplibre-gl.js"></script>
</head>
<body>
    {% include "navbar.html" with context %}
    <script>
      window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>

    <h2>Departures for {{ station_id }}</h2>
    <table>
        <thead>
            <tr>
                <th>STOP</th>
                <th>TIME</th>
                <th>HEADSIGN</th>
                <th>ROUTE</th>
            </tr>
        </thead>
        <tbody>
            {% for stop in data.stops %}
                {% for dep in stop.departures %}
                    <tr>
                        <td>{{ stop.stop_name }}</td>
                        <td>{{ dep.departure_time }}</td>
                        <td>{{ dep.trip.trip_headsign }}</td>
                        <td>{{ dep.trip.route.route_short_name }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>