<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vercel + Flask</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.ico">
        <link rel="stylesheet" href="/static/style.css">

    </head>
    <body>
        <header>
            <nav>
                <a href="/" class="logo">Vercel + Flask</a>
                <div class="nav-links">
                    <a href="/test">TEST</a>
                    <a href="/routes">Routes</a>
                </div>
            </nav>
        </header>
        <main>
            <div class="hero">
                <h1>MW LA Metro Map</h1>
            </div>

            <div class="cards">
                <div class="card">
                    <h3>Routes</h3>
                    <p>Access sample JSON data through our REST API. Perfect for testing and development purposes.</p>
                    <a href="/routes">Routes</a>
                </div>
                <div class="card">
                    <h3>Bike Share</h3>
                    <a href="/map">View Map</a>
                    <a href="/bikes">View Bikes</a>
                </div>
            </div>
        </main>
    </body>
    </html>