<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MW Transit + Bike App | LA Metro Routes</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    {% include "navbar.html" with context %}

    <main>
      <h1>LA Metro Rail Route Overview</h1>
      <div class="table-container fade-in">
        <table>
          <thead>
            <tr>
              <th>Route ID</th>
              <th>Route Name</th>
              <th>Color</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for route in routes %}
            <tr>
              <td>{{ route.route_id }}</td>
              <td>
                <img class="route-icon" src="{{ route.iconography_url }}" alt="{{ route.route_name }}" />
                {{ route.route_name }}
              </td>
              <td>{{ route.long_name}}</td>
              <td>{{ route.description}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
