<!DOCTYPE html>
<html>
<head>
    <title>Metro Rail Routes</title>
</head>
<body>
    <h1>LA Metro Rail Route Overview</h1>
    <table border="1">
        <tr>
            <th>Route ID</th>
            <th>Route Name</th>
            <th>Color</th>
        </tr>
        {% for route in routes %}
        <tr>
            <td>{{ route["id"] }}</td>
            <td>{{ route["display_name"] }}</td>
            <td style="background-color: #{{ route["color"] }}">{{ route["color"] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>