<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MW Transit + Bike App | Bikes</title>

  <!-- Styles -->
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/maplibre-gl/maplibre-gl.css">

  <!-- MapLibre JS -->
  <script src="/static/maplibre-gl/maplibre-gl.js"></script>
</head>
  <body>
    {% include "navbar.html" with context %}
    <script>
      window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
    <main>
      <h1>LA Metro Rail Route Overview</h1>
      <div id="map"></div>
      <script src="/static/scripts/map2.js"></script>

      <br>
      <div class="table-container fade-in">
        <table>
          <thead>
            <tr>
              <th>Route ID</th>
              <th>Route Name</th>
              <th>Color</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for route in routes %}
            <tr>
              <td>
                <a href="/routes/{{route.route_id }}">{{route.route_id }}</a></td>
              <td>
                <img class="route-icon" src="{{ route.iconography_url }}" alt="{{ route.route_name }}" />
                {{ route.route_name }}
              </td>
              <td>{{ route.long_name}}</td>
              <td>{{ route.description}}</td>
              <td>{{ route.route_color}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
